<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="./assets/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This app was creatd by Antonio Ruballos. It uses data from mapbox.com and darksky.net to display weather information based on location.</p>
            <img class="portrait" src="./assets/antonio.png">
        </div>
        {{>footer}}
    </body>
</html>